<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="{{ site.url }}/">
      <img src="{{ site.baseurl}}/public/images/profile_dp.jpg" length="200" width="200" style="-webkit-filter: drop-shadow(2px 2px 2px #222)">
      </a>
      <h1 style="padding-bottom: 50px">Saurav Das</h1>
    </div>

    <nav class="sidebar-nav">
        <a class="sidebar-nav-item" href="mailto:saurav.das37@gmail.com">
          <img src="{{ site.baseurl }}/public/images/gmail_icon.svg" width="30" height="30" style="float:left; -webkit-filter: drop-shadow(2px 2px 2px #222)">
          <p style="padding-left: 40px;">saurav.das37@gmail.com</p>
        </a>
        <a class="sidebar-nav-item" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/saurav-das-8b434912b/">
          <img src="{{ site.baseurl }}/public/images/linkedin_icon.svg" width="30" height="30" style="float:left; -webkit-filter: drop-shadow(2px 2px 2px #222)">
          <p style="padding-left: 40px;">/in/saurav-das-8b434912b</p>
        </a>
        <a class="sidebar-nav-item" target="_blank" rel="noopener noreferrer" href="https://www.goodreads.com/dvaruas">
          <img src="{{ site.baseurl }}/public/images/goodreads_icon.svg" width="30" height="30" style="float:left; -webkit-filter: drop-shadow(2px 2px 2px #222)">
          <p style="padding-left: 40px;">/dvaruas</p>
        </a>
        <a class="sidebar-nav-item" target="_blank" rel="noopener noreferrer" href="https://github.com/dvaruas">
          <img src="{{ site.baseurl }}/public/images/github_icon.svg" width="30" height="30" style="float:left; -webkit-filter: drop-shadow(2px 2px 2px #222)">
          <p style="padding-left: 40px;">/dvaruas</p>
        </a>
        <a class="sidebar-nav-item" target="_blank" rel="noopener noreferrer" href="https://www.imdb.com/user/ur67764676/">
          <img src="{{ site.baseurl }}/public/images/imdb_icon.svg" width="auto" height="30" style="float:left; -webkit-filter: drop-shadow(2px 2px 2px #222)">
          <p style="padding-left: 70px;">/user/ur67764676</p>
        </a>

    </nav>

  </div>
</div>
