.vertical-center {
    padding: 20px;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.icons-hook {
    margin-top: 10px;
    margin-left: min(10px, 0.5vw);
    margin-right: min(10px, 0.5vw);
    width: 100%;
    max-height: min(40px, 5vw);
}

.links-hook {
    text-decoration: none;
    color: black;
}

#quote-hook {
    font-family: 'Grape Nuts', cursive;
}
#quote-hook:hover {
    color: rgba(0, 0, 0, 0.1);
}
#quote-hook:hover .code-hook {
    color: black;
}